.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
}